.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  background-color: #282c34;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background-color: rgb(137, 141, 143);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}